@{
    ViewData["Title"] = "KTPay - KuveytTürk VPOS";
}

<div>
    <p><strong>Satış Url:</strong> http://localhost:3000/KTPay/Payment</p>
    <p><strong>Taksitli Satış Url:</strong> http://localhost:3000/KTPay/InstallmentPayment</p>
    <p><strong>Başarılı Callback Url:</strong> http://localhost:3000/KTPay/Success</p>
    <p><strong>Başarısız Callback Url:</strong> http://localhost:3000/KTPay/Fail</p>
    <p><strong>Provizyon Url:</strong> http://localhost:3000/KTPay/Provision</p>
    <p><strong>İptal, İade ve Kısmi İade Url:</strong> http://localhost:3000/KTPay/SaleReversal</p>
    <p><strong>İşlem Sorgulama Url:</strong> http://localhost:3000/KTPay/GetTransaction</p>
    <p><strong>İşlem Listeleme Url:</strong> http://localhost:3000/KTPay/GetTransactions</p>
</div>